

<style type="text/css">

    .acf-map {

        width: 100%;

        height: 400px;

        border: #ccc solid 1px;

        margin: 20px 0;

    }

    /* fixes potential theme css conflict */

    .acf-map img {

        max-width: inherit !important;

    }

</style>



<div class="jiffload"></div>

<div class="background_box"></div>

<div class="login_panelbox">

    <div class="log_box">

        <h5>Please login to your account.</h5>

        <div class="superadminform">

            <form class="space40 comment-form" name="login_form" id="login_form" method="post">

                <div class="form-group">

                    <input type="email" class="form-control" id="email" placeholder="Email"
                           value="" name="user_email">

                </div>

                <div class="form-group">

                    <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                           value="">

                </div>

                <div class="form-check">

                    <label><input type="checkbox" name="check" value="1"> <span
                            class="label-text">Remember Me</span></label>

                </div>

                <input type="hidden" name="action" value="ajax_logimein">

                <input type="button" class="logimein log_btn" id="loginButton" name="subbtnlast" value="LOG IN">

                <p class="errormsg">Username or password is incorrect</p>

            </form>

            <p class="social_text">- or log in with social media -</p>

            <ul class="list-inline">

                <li class="list-inline-item"><a href=""><span><i class="fa fa-facebook" aria-hidden="true"></i></span>login
                        with facebook</a></li>

                <li class="list-inline-item"><a href=""><span><i class="fa fa-twitter" aria-hidden="true"></i></span>login
                        with twitter</a></li>

                <li class="list-inline-item"><a href=""><span><i class="fa fa-google-plus"
                                                                 aria-hidden="true"></i></span>login with google</a>
                </li>

            </ul>

            <p><a href="http://qualityend.com/memorial/forgot-password" class="log_links">Forgot your password?</a></p>

            <p><a href="http://qualityend.com/memorial/register/" class="log_links">Don’t have an account? Register as a
                    new user</a></p>

        </div>

    </div>

</div>

<style>

    button.edit_class {

        background: none !important;

        border: none !important;

        color: #582236 !important;

    }

    .background_box {

        background: #000000a6;

        position: fixed;

        width: 100%;

        height: 100%;

        display: none;

        top: 0;

        left: 0;

        z-index: 999;

    }

    .login_panelbox {

        display: none;

        position: fixed;

        z-index: 9999;

        top: 10%;

        left: 40%;

    }

    .purplebtnstyle {

        max-width: 70px !important;

        width: 100%;

        height: 35px;

        margin: 10px auto 10px;

        color: #fff !important;

        line-height: 33px;

        background: #582236;

        text-align: center;

        border-radius: 6px;

        border: none;

        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.34901960784313724);

        transition: .5s ease-in-out;

        cursor: pointer;

    }

    .red_btn {

        max-width: 200px !important;

        cursor: pointer;

        margin: 10px auto;

    }

    .add_gal input {

        cursor: pointer;

        left: 0;

    }

    .jiffload {

        display: none;

        position: fixed;

        z-index: 100000;

        top: 0;

        left: 0;

        height: 100%;

        width: 100%;

        background-size: 64px 64px;

        background: rgba(198, 196, 196, 0.7) url('wp-content/themes/safiri-salama/img/loader64.gif') no-repeat 50% 50%;

    }

    .mylink {

        cursor: pointer;

        position: relative;

        border: 1px solid #000;

        padding: 3px 6px 1px 6px;

        line-height: 21px;

        border-radius: 3px;

        background-color: #000;

        color: #fff !important;

        top: -84%;

        right: 0%;

    }

    .myli2 {

        position: relative;

    }

    .mylink2 {

        cursor: pointer;

        position: absolute;

        border: 1px solid #000;

        padding: 3px 6px 1px 6px;

        line-height: 21px;

        border-radius: 3px;

        background-color: #000;

        color: #fff !important;

        top: 0;

        left: 0;

    }
	#map1,#map2
	{
		height: 300px
	}

</style>

<section class="footer_bg">
  <div class="container">
    <div class="footer_class">
      <div class="row">
        <div class="col-md-2  pad_right0">
            <a href="http://qualityend.com/memorial"><img class="img-fluid" alt="img" src="https://safirisalama.com/wp-content/uploads/2018/12/71814457438622182398foot_logo.png"></a>
        </div>
        <div class="col-md-7">
          <ul class="list-inline foot_link">
             
              <li class="list-inline-item"><a href="http://qualityend.com/memorial/">Home</a></li><li class="list-inline-item"><a href="http://qualityend.com/memorial/about/">Safiri Salama</a></li><li class="list-inline-item"><a href="http://qualityend.com/memorial/create-memory/">create memorial</a></li><li class="list-inline-item"><a href="http://qualityend.com/memorial/new-featured/">Featured Memorial</a></li><li class="list-inline-item"><a href="http://qualityend.com/memorial/plans-and-features/">Plans & Features</a></li><li class="list-inline-item"><a href="http://qualityend.com/memorial/contact/">Contact</a></li>         </ul>
        </div>
        <div class="col-md-3 pad_left0">
          <div class="prehead_left">
              <ul class="list-inline pull-right">
                <li class="list-inline-item"><div class="heateor_sss_sharing_container heateor_sss_horizontal_sharing" ss-offset="0" heateor-sss-data-href='http://qualityend.com/memorial/prof-calestous-juma/'style="background-color:#000;"><ul class="heateor_sss_sharing_ul"><li class="heateorSssSharingRound"><i style="width:35px;height:35px;border-radius:999px;" alt="Facebook" Title="Facebook" class="heateorSssSharing heateorSssFacebookBackground" onclick='heateorSssPopup("https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fqualityend.com%2Fmemorial%2Fprof-calestous-juma%2F")'><ss style="display:block;border-radius:999px;" class="heateorSssSharingSvg heateorSssFacebookSvg"></ss></i></li><li class="heateorSssSharingRound"><i style="width:35px;height:35px;border-radius:999px;" alt="Instagram" Title="Instagram" class="heateorSssSharing heateorSssInstagramBackground"><a href="https://www.instagram.com/" rel="nofollow noopener" target="_blank"><ss style="display:block;border-radius:999px;" class="heateorSssSharingSvg heateorSssInstagramSvg"></ss></a></i></li><li class="heateorSssSharingRound"><i style="width:35px;height:35px;border-radius:999px;" alt="Twitter" Title="Twitter" class="heateorSssSharing heateorSssTwitterBackground" onclick='heateorSssPopup("http://twitter.com/intent/tweet?text=Prof%20Calestous%20Juma&url=http%3A%2F%2Fqualityend.com%2Fmemorial%2Fprof-calestous-juma%2F")'><ss style="display:block;border-radius:999px;" class="heateorSssSharingSvg heateorSssTwitterSvg"></ss></i></li><li class="heateorSssSharingRound"><i style="width:35px;height:35px;border-radius:999px;" title="More" alt="More" class="heateorSssSharing heateorSssMoreBackground" onclick="heateorSssMoreSharingPopup(this, 'http://qualityend.com/memorial/prof-calestous-juma/', 'Prof%20Calestous%20Juma', '' )" ><ss style="display:block" class="heateorSssSharingSvg heateorSssMoreSvg"></ss></i></li></ul><div class="heateorSssClear"></div></div></li>
                  <li class="list-inline-item">Share this page</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline copyright_link">
                    <li class="list-inline-item"><a href="#">Copyright SafiriSalama 2018© All Rights Reserved</a></li><li class="list-inline-item"><a href="http://qualityend.com/memorial/term-and-condition/">Terms of Use</a></li><li class="list-inline-item"><a href="#">Privacy Policy</a></li>                    
                </ul>
            </div>
        </div>
    </div>
</footer>
  




<!-- javascript libraries -->
<script src="http://qualityend.com/memorial/wp-content/themes/safiri-salama/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="http://qualityend.com/memorial/wp-content/themes/safiri-salama/js/bootstrap.min.js" type="text/javascript"></script>
<script src="http://qualityend.com/memorial/wp-content/themes/safiri-salama/js/owl.carousel.min.js"></script>  
<script type="text/javascript">
  $('.navbar-nav li').addClass('nav-item');
  $('.navbar-nav li a').addClass('nav-link');



        $.fn.jQuerySimpleCounter = function( options ) {
        var settings = $.extend({
            start:  0,
            end:    100,
            easing: 'swing',
            duration: 400,
            complete: ''
        }, options );

        var thisElement = $(this);

        $({count: settings.start}).animate({count: settings.end}, {
            duration: settings.duration,
            easing: settings.easing,
            step: function() {
                var mathCount = Math.ceil(this.count);
                thisElement.text(mathCount);
            },
            complete: settings.complete
        });
    };


$('#number1').jQuerySimpleCounter({end:  9146,duration: 3000});
$('#number2').jQuerySimpleCounter({end:  12,duration: 3000});
$('#number3').jQuerySimpleCounter({end: 55,duration: 2000});
$('#number4').jQuerySimpleCounter({end:  1,duration: 2500});



    /* AUTHOR LINK */
     $('.about-me-img').hover(function(){
            $('.authorWindowWrapper').stop().fadeIn('fast').find('p').addClass('trans');
        }, function(){
            $('.authorWindowWrapper').stop().fadeOut('fast').find('p').removeClass('trans');
        });
        
        
</script>


</body>
</html>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvBOhL9PnQqc6UJ3Q8HIui6At1rgn79zs&sensor=false"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript"> 
    var map;
    var marker;
    var myLatlng = new google.maps.LatLng(0.569525,34.558376);
    var geocoder = new google.maps.Geocoder();
    var infowindow = new google.maps.InfoWindow();
    function initialize(){
    var mapOptions = {
    zoom: 18,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    
    map = new google.maps.Map(document.getElementById("map1"), mapOptions);
   
    marker = new google.maps.Marker({
    map: map,
    position: myLatlng,
    draggable: true 
    }); 
    
    geocoder.geocode({'latLng': myLatlng }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
    if (results[0]) {
		console.log(results[0]);
    $('#latitude,#longitude').show();
    $('#addrs').val(results[0].formatted_address);
    $('#latitude').val(marker.getPosition().lat());
    $('#longitude').val(marker.getPosition().lng());
    infowindow.setContent(results[0].formatted_address);
    infowindow.open(map, marker);
    }
    }
    });
    
    google.maps.event.addListener(marker, 'dragend', function() {
    
    geocoder.geocode({'latLng': marker.getPosition()}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
    if (results[0]) {
		console.log(results[0]);
		console.log(results[0]);
    $('#addrs').val(results[0].formatted_address);
    $('#addrs').attr("value", results[0].formatted_address);
    $('#latitude').val(marker.getPosition().lat());
    $('#longitude').val(marker.getPosition().lng());
    infowindow.setContent(results[0].formatted_address);
    infowindow.open(map, marker);
    }
    }
    });
    });
    
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
  <script type="text/javascript"> 
    var map1;
    var marker1;
    var myLatlng1 = new google.maps.LatLng(, );
    var geocoder1 = new google.maps.Geocoder();
    var infowindow1= new google.maps.InfoWindow();
    function initialize(){
    var mapOptions1 = {
    zoom: 18,
    center: myLatlng1,
    mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map1 = new google.maps.Map(document.getElementById("map2"), mapOptions1);
    marker1 = new google.maps.Marker({
    map: map1,
    position: myLatlng,
    draggable: false 
    }); 
    geocoder.geocode({'latLng': myLatlng }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
    if (results[0]) {
    $('#latitude,#longitude').show();
    $('#addrs2').val(results[0].formatted_address);
    infowindow.setContent(results[0].formatted_address);
    infowindow.open(map, marker1);
    }
    }
    });
    
    google.maps.event.addListener(marker1, 'dragend', function() {
    
    geocoder.geocode({'latLng': marker.getPosition()}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
    if (results[0]) {
    $('#addrs2').val(results[0].formatted_address);
    
    $('#addrs2').attr("value", results[0].formatted_address);
    infowindow.setContent(results[0].formatted_address);
    infowindow.open(map, marker1);
    }
    }
    });
    });
    
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script type="text/javascript">


    // This function can be used for any form with any name to upload image/s

    function uploadimagesgenericfunc(formname) {

        $('.jiffload').show();

        var data = new FormData($('#' + formname)[0]);

        $.ajax({

            type: 'POST',

            url: ajaxurl,

            enctype: "multipart/form-data",

            data: data,

            cache: false,

            processData: false,

            contentType: false,

            success: function (response) {

                $('.jiffload').hide();

                location.reload();

            }

        });

    }


    function removeit(id, type) {

        $(".jiffload").show();

        $.post(ajaxurl, {action: 'Removenote', id: id, type: type}, function (data) {

            console.log(data);

            $(".jiffload").hide();

            location.reload();

        });

    }

    function readURL(input) {


        if (input.files && input.files[0]) {

            var reader = new FileReader();


            reader.onload = function (e) {

                $('#blah').attr('src', e.target.result);

            }


            reader.readAsDataURL(input.files[0]);

        }

    }

    $(document).ready(function () {

        $("#loginButton").click(function () {

            $.post("", $('#login_form').serialize(), function (data) {

                console.log(data);

                var response = eval("(" + data + ")");

                if (response.status == 0) {

                    $('.errormsg').show();

                } else {

                    window.location.reload(true);

                }

            });

        });

        $(".uploadmainpicture").change(function () {

            $('#blah').show();

            readURL(this);


        });
        $("#wpmtst_submit_candle").click(function () {

            var loginvals = '';

            if (loginvals != '') {

                $.post("", $('.trubinalcandle').serialize(), function (data) {

                    console.log(data);

                    CurrentUrl = window.location.href;

                    UTemp = CurrentUrl.split('#')

                });

            } else {

                $('.background_box').show();

                $('.login_panelbox').show();

            }

        });


        $("#wpmtst_submit_flower").click(function () {

            var loginvals = '';

            if (loginvals != '') {

                $.post("", $('.trubinalflower').serialize(), function (data) {

                    console.log(data);

                    Link = window.location.href;

                    location.reload();

                });

            } else {

                $('.background_box').show();

                $('.login_panelbox').show();

            }

        });


        $("#wpmtst_submit_flower").click(function () {

            var loginvals = '';

            if (loginvals != '') {

                $.post("", $('.trubinalblowcandel').serialize(), function (data) {

                    console.log(data);

                    Link = window.location.href;

                });

            } else {

                $('.background_box').show();

                $('.login_panelbox').show();

            }

        });

    });


    function get_msg(id) {

        $(".abutsec").css("display", "none");

        $(".abtdescription").css("display", "block");

        $('.abtdescription').append('<input type="hidden" name="id" value="' + id + '">');

    }


    $(".ylw_btn").click(function () {

        $(".notice_main").css("display", "none");

        $(".showhid").css("display", "block");

    });


    $(".saveabt").click(function () {

        $(".abutsec").css("display", "block");

        $(".abtdescription").css("display", "none");

    });


    $(".lea_tri").click(function () {

        $(".main_tri").hide();

        $(".leave_tribute").show();

    });


    $(".candle").click(function () {

        $(".main_tri").hide();

        $(".leave_tribute").show();

    });


    $(".note").click(function () {

        $(".main_tri").hide();

        $(".leave_tribute").show();

    });


    (function ($) {



        /* This function will render a Google Map onto the selected jQuery element */


        function new_map($el) {

            var $markers = $el.find('.marker');

            var args = {

                zoom: 16,

                center: new google.maps.LatLng(0, 0),

                mapTypeId: google.maps.MapTypeId.ROADMAP

            };

            // create map

            var map = new google.maps.Map($el[0], args);

            // add a markers reference

            map.markers = [];

            // add markers

            $markers.each(function () {

                add_marker($(this), map);

            });

            // center map

            center_map(map);

            // return

            return map;

        }


        /* This function will add a marker to the selected Google Map */


        function add_marker($marker, map) {

            var latlng = new google.maps.LatLng($marker.attr('data-lat'), $marker.attr('data-lng'));

            // create marker

            var marker = new google.maps.Marker({

                position: latlng,

                map: map

            });


            // add to array

            map.markers.push(marker);

            // if marker contains HTML, add it to an infoWindow

            if ($marker.html()) {

                // create info window

                var infowindow = new google.maps.InfoWindow({

                    content: $marker.html()

                });

                // show info window when marker is clicked

                google.maps.event.addListener(marker, 'click', function () {

                    infowindow.open(map, marker);

                });

            }

        }


        /* This function will center the map, showing all markers attached to this map */


        function center_map(map) {

            var bounds = new google.maps.LatLngBounds();

            // loop through all markers and create bounds

            $.each(map.markers, function (i, marker) {

                var latlng = new google.maps.LatLng(marker.position.lat(), marker.position.lng());

                bounds.extend(latlng);

            });

            // only 1 marker?

            if (map.markers.length == 1) {

                // set center of map

                map.setCenter(bounds.getCenter());

                map.setZoom(16);

            } else {

                // fit to bounds

                map.fitBounds(bounds);

            }

        }


        /* This function will render each map when the document is ready (page has loaded) */


        // global var

        var map = null;

        $(document).ready(function () {

            $('.acf-map').each(function () {

                // create map

                map = new_map($(this));

            });

        });

    })(jQuery);


    function savenoticestab() {


        $(".jiffload").show();

        $.post(ajaxurl, $('#noticestabform').serialize(), function (data) {

            $('#successmessage').show();

            $(".jiffload").hide();

            location.reload();

        });


    }


    function showeditnoticeform() {

        $("#editnoticesdata").show();

        $("#displaynoticesdata").hide();

    }


    function hideeditnoticeform() {

        $("#editnoticesdata").hide();

        $("#displaynoticesdata").show();

    }

    function notifysubscribe(userid, tributeid) {

        $(".jiffload").show();

        $.post(ajaxurl, {action: 'NotificationSubscription', userid: userid, tributeid: tributeid}, function (data) {

            console.log(data);

            $(".jiffload").hide();

            $("#subscribesuccess").show();

        });

    }

    function notifyunsubscribe(userid, tributeid) {

        $(".jiffload").show();

        $.post(ajaxurl, {action: 'NotificationUnSubscription', userid: userid, tributeid: tributeid}, function (data) {

            console.log(data);

            $(".jiffload").hide();

            $("#unsubscribesuccess").show();

        });

    }


</script>